<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("app_name"), "home", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("home.title"),   static_pages_home_path %></li>
        <li><%= link_to t("help.title"),   static_pages_help_path %></li>
        <li><%= link_to t("contact.title"), static_pages_contact_path %></li>
        <li class="nav-item">
          <%= link_to (t"enl"), locale:"en" %>
        </li>
        <li class="nav-item">
          <%= link_to (t"vnl"), locale:"vi" %>
        </li>
      </ul>
    </nav>
  </div>
</header>
